<meta charset='utf-8'>

<!--
画面に入ってからの割合いでアニメーションする。
-->

<div class="skeleton">スクロールを発生させるため適当なエリアを確保しています</div>
<img class="animationElement" src="eye-3926906_1280.jpg" alt="サファイア" width="300" height="300">
<div class="skeleton">スクロールを発生させるため適当なエリアを確保しています</div>
<style>
.skeleton {
  height: 100vh; /* スクロールが発生するよう適当な高さを確保 */
}
/* 円→（角丸四角形を経由）→正方形 にマスクの形状を変化させるキーフレーム */
@keyframes reveal-image {
  0% {
    clip-path: inset(30% round 20%);
  }
  20% {
    clip-path: inset(0);
  }
  80% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(30% round 20%);
  }
}
.animationElement {
  object-fit:cover;
  /* スクロールアニメーションの設定 */
  animation: reveal-image linear both; /* アニメーションを指定。イージングはlinear。animation-fill-modeはboth */
  animation-timeline: view();
  animation-range: contain 0% contain 100%; /* 開始: 要素がビューポートに完全に入った時、終了: ビューポートの上位 */
}
</style>